project_id = "xzlhssqqbajqhnsmbucf"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 9999
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://xzlhssqqbajqhnsmbucf.lovable.app"]
jwt_expiry = 3600
enable_signup = true
email_double_confirm_changes = true
enable_manual_linking = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[auth.sms]
enable_signup = false
enable_confirmations = false
template = "Your code is {{ .Code }}"

[functions.save-cms-layout]
verify_jwt = true

[functions.hide-cms-element]
verify_jwt = true

[functions.send-group-email]
verify_jwt = true